* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
  background-color: rgb(129, 129, 129);
}

h2 {
  background-color: #f01111c7;
} 

 h3 {
  font-size: larger;
  background-color: #f01111c7;
  width: 50%;
  position: relative;
  padding: 0.5%;
  margin-left: 25%;
  margin-top: 2%;
  text-align: center;
}

p2 {
  font-size: larger;
  background-color: #f01111c7;
  width: 50%;
  position: relative;
  padding: 0.5%;
  margin-left: 5%;
  flex-wrap: wrap;
}


.center {
  width:500px;
  margin: 0 auto;
  text-align: center;
}

#logo {
  width: 55%;
}


.nav {
  height: 10%;
  width: 100%;
  background-color: #000000;
  position: relative;
}

.nav > .nav-header {
  display: inline;
  position: absolute;
}

.logo {
  float:left;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  font-size: 38px;
  padding-left: 80px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 20px 13px 20px;
  text-decoration: none;
  color: #ff8800;
}

.nav > .nav-links > a:hover {
  background-color: rgba(255, 0, 0, 0.699);
}

.nav > #nav-check {
  display: none;
}


.home {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.cardimage {
  width:300px;
  height:200px;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px; 
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(540deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #f01111e8;
  color: rgb(0, 0, 0);
  transform: rotateY(180deg);
}

.container {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem auto;
  gap: 3rem;
  max-width: 70rem;
}

#contact {
  font-size: larger;
  background-color: #f01111c7;
  width: 50%;
  position: relative;
  padding: 5px;
  top: 150px;
  margin-left: 2%;
}

#map {
  position: relative;
  width: 40%;
  height: 50vh;
  margin-left: 57%;
  bottom: 230px;
}

#banner {
  border: 10px solid #f01111e8;
  background-color: #ff7b00;
  color: rgb(0, 0, 0);
  padding: 26px;
  min-height: 20vh;
  border-radius: 0rem 0rem 2rem 2rem;
  width: 50%;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

hr {
  color: black;
}

.container-fluid {
  margin-bottom: 6rem;
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: #eee;
  font-size: 1rem;
}

input[type=submit], .button {
  background-color: #ff7b00;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  text-decoration: none;
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

input[type=submit]:hover {
  background-color: #ff7b00cb;
}



#formuliercontainer {
  border-radius: 5px;
  background-color: #979797;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit], .button {
    width: 100%;
    margin-top: 5px;
  }
}

@media (max-width:1060px) {
  .nav {
    z-index: 100;
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 100px;
    height: 50px;
    padding: 30px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 50px;
    height: 15px;
    border-top: 5px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.884);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }

  #map {
    top: 230px;
    right: 50%;
    width: 80%;
    
  }

  #contact {
    width: 80%;
    left: 5%;
  }

}